<p>Nombre del cliente: {{ nombre }}</p>
<p>Nombre del cliente en mayusculas: {{ nombre | uppercase }}</p>
<p>Nombre del cliente en minusculas: {{ nombre | lowercase }}</p>
<p>el saldo es: {{ saldo | currency:'$' }} </p>
<p>dias laborables: {{ dias | slice:1:6 }}</p>
<p>{{ articulos | json }}</p>
<p>fecha actual: {{ fechaActual | date:'d/M/y' }}</p>
<p>En el caso del porcentaje, podemos especificarle con los parametros, cuantos digitos va a ver a la izq y der del punto decimal</p>
<p>el porcentaje es: {{ porcentaje | percent:'4.2' }} </p>
<p>Nombre del cliente, iniciales en mayuscula: {{ nombre | titlecase }}</p>
